html
	head
		title PASTE YO CODE
		link(rel="stylesheet" href="/css/flat-ui.min.css")
		link(rel="stylesheet" href="/css/main.css")

		script(src="#{jquery}")
		script(src="/js/flat-ui.min.js")
		script(src="/socket.io/socket.io.js")
		script(src="/js/main.js")
	body
		.popup
			h1 SUCCESS!
			h4
		.main
			h2 Paste your code.
			textarea(type="text" name="code" class="form-control" required)
			br
			select
			br
			br
			input(type="password" placeholder="Password" name="password" class="form-control" required)
			input(type="button" value="Upload Code" class="btn btn-primary")
