/* http://prismjs.com/download.html?themes=prism-okaidia&languages=markup+css+clike+javascript+java+php+coffeescript+bash+c+cpp+python+ruby+csharp+haskell+swift+objectivec&plugins=line-highlight+line-numbers+autolinker */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

code[class*="language-"],
pre[class*="language-"] {
  color: #f8f8f2;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  border-radius: 0.3em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #272822;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
}


/* line 100, syntax-highlighting.scss */
.token.comment, .token.prolog, .token.doctype, .token.cdata {
  color: #6f705e;
}
/* line 107, syntax-highlighting.scss */
.token.null, .token.operator{
  color: #ef3b7d;
}
.token.boolean, .token.number {
  color: #a77afe;
}
/* line 112, syntax-highlighting.scss */
.token.attr-name, .token.string {
  color: #e6d06c;
}
/* line 119, syntax-highlighting.scss */
.token.entity, .token.url, .language-css .token.string, .style .token.string {
  color: #e6d06c;
}
/* line 123, syntax-highlighting.scss */
.token.selector {
  color: #a6e22d;
}
/* line 133, syntax-highlighting.scss */
.token.atrule, .token.attr-value, .token.keyword, .token.control, .token.directive, .token.important, .token.unit {
  color: #76d9e6;
}
/* line 138, syntax-highlighting.scss */
.token.regex, .token.statement {
  color: white;
}
/* line 143, syntax-highlighting.scss */
.token.placeholder, .token.variable {
  color: white;
}
/* line 148, syntax-highlighting.scss */
.token.important, .token.statement {
  font-weight: bold;
}
/* line 152, syntax-highlighting.scss */
.token.punctuation {
  color: white;
}
/* line 156, syntax-highlighting.scss */
.token.entity {
  cursor: help;
}
/* line 161, syntax-highlighting.scss */
.token.debug {
  color: red;
}

code.language-markup {
  color: #f9f9f9;
}
/* line 220, syntax-highlighting.scss */
code.language-markup .token.tag {
  color: #ef3b7d;
}
/* line 221, syntax-highlighting.scss */
code.language-markup .token.attr-name {
  color: #a6e22d;
}
/* line 222, syntax-highlighting.scss */
code.language-markup .token.attr-value {
  color: #e6d06c;
}
/* line 225, syntax-highlighting.scss */
code.language-markup .token.style, code.language-markup .token.script {
  color: white;
}
/* line 230, syntax-highlighting.scss */
code.language-markup .token.script .token.keyword {
  color: white;
}

pre[data-line] {
  position: relative;
  padding: 1em 0 1em 3em;
}

.line-highlight {
  position: absolute;
  left: 0;
  right: 0;
  padding: inherit 0;
  margin-top: 1em; /* Same as .prism’s padding-top */

  background: hsla(24, 20%, 50%,.08);
  background: -moz-linear-gradient(left, hsla(24, 20%, 50%,.1) 70%, hsla(24, 20%, 50%,0));
  background: -webkit-linear-gradient(left, hsla(24, 20%, 50%,.1) 70%, hsla(24, 20%, 50%,0));
  background: -o-linear-gradient(left, hsla(24, 20%, 50%,.1) 70%, hsla(24, 20%, 50%,0));
  background: linear-gradient(left, hsla(24, 20%, 50%,.1) 70%, hsla(24, 20%, 50%,0));
  
  pointer-events: none;
  
  line-height: inherit;
  white-space: pre;
}

  .line-highlight:before,
  .line-highlight[data-end]:after {
    content: attr(data-start);
    position: absolute;
    top: .4em;
    left: .6em;
    min-width: 1em;
    padding: 0 .5em;
    background-color: hsla(24, 20%, 50%,.4);
    color: hsl(24, 20%, 95%);
    font: bold 65%/1.5 sans-serif;
    text-align: center;
    vertical-align: .3em;
    border-radius: 999px;
    text-shadow: none;
    box-shadow: 0 1px white;
  }
  
  .line-highlight[data-end]:after {
    content: attr(data-end);
    top: auto;
    bottom: .4em;
  }
pre.line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber;
}

pre.line-numbers > code {
  position: relative;
}

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em; /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  border-right: 1px solid #999;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

  .line-numbers-rows > span {
    pointer-events: none;
    display: block;
    counter-increment: linenumber;
  }

    .line-numbers-rows > span:before {
      content: counter(linenumber);
      color: #999;
      display: block;
      padding-right: 0.8em;
      text-align: right;
    }
.token a {
  color: inherit;
}
ent(#333333, #000000);
  background: -moz-linear-gradient(#333333, #000000);
  background: -o-linear-gradient(#333333, #000000);
  background: linear-gradient(#333333, #000000);
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  font: bold 15px/1 sans-serif;
  color: white;
  text-indent: 1em;
}
/* line 269, syntax-highlighting.scss */
pre code {
  overflow: auto;
  white-space: pre;
  display: block;
}

/* line 277, syntax-highlighting.scss */
pre.language-markup:before {
  content: 'HTML';
}

/* line 278, syntax-highlighting.scss */
pre.language-css:before {
  content: 'CSS';
}

/* line 279, syntax-highlighting.scss */
pre.language-javascript:before {
  content: 'JavaScript';
}

/* line 280, syntax-highlighting.scss */
pre.language-php:before {
  content: 'PHP';
}

/* line 281, syntax-highlighting.scss */
pre.language-scss:before {
  content: 'SCSS (Sass / Compass)';
}
